#activeShelf {
  color: red;
}

.slideout-widget {
  position: fixed;
  right: -8em;
  top: 50%;
  transition: right .4s;
  width: 8em;
  z-index: 10;
}

.slideout-widget:hover {
  right: 0;
}

.slideout-widget-handler,
.slideout-widget-content {
  background: #eee;
  border: 1px solid #ddd;
  padding: 1em .5em;
}

.slideout-widget-handler {
  border-right: none;
  left: -3em;
  position: absolute;
  text-align: center;
  height: 3em;
  width: 3em;
}
.slideout-widget-content {
  border-width: 1px 0;
  overflow: hidden;
  width: 150px;
  height: 3em;
  z-index: 11;
}

.widget-settings .slideout-widget-handler,
.widget-settings .slideout-widget-content {
  background: #3c5b9b;
  border: none;
}

.widget-settings,
.widget-settings a {
  color: #fff;
}

.slideout-big {
  right: -20em;
  width: 20em;
}

/* demo */
.widget-settings {
  top: 50%;
}
