#main {
  padding: 5%;
}

#welcome {
  text-align: center;
  font-size: 51px;
  font-family: Lobster;
}

#divWelcome {
  margin: 5%;
}

#divNewShelf {
  margin: 10% 40% 20% 40%;
}

#btNewShelf {
  width: 150px;
  height: 150px;
}
